<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antony.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sign.SignUpTwoActivity" />
        <activity android:name=".sign.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sign.ForgetOneActivity" />
        <activity android:name=".sign.SignUpOneActivity" />
        <activity android:name=".sign.MainActivity" />
        <activity android:name=".homepage.HomepageActivity" />
        <activity android:name=".homepage.SettingsActivity" />
        <activity android:name=".homepage.PersonInfoActivity" />
        <activity android:name=".path.OnlineCaseActivity" />
        <activity android:name=".path.OutcomeDisplayPathPathActivity" />
        <activity android:name=".train.EditCaseActivity" />
        <activity android:name=".train.OutcomeDisplayTrainActivity" />
        <activity android:name=".predict.OutcomeDisplayPredictActivity" />
        <activity android:name=".path.LocalCaseActivity" />
        <activity android:name=".sign.ForgetTwoActivity" />
        <activity android:name=".sign.ForgetThreeActivity" />
        <activity android:name=".homepage.BindActivity" />
        <activity android:name=".homepage.ReviseActivity"></activity>
    </application>

</manifest>